--- 全局忽略 ---

.gradle/
.idea/
*.iml
*.iws
*.ipr
*.class
.DS_Store
Thumbs.db

--- 忽略构建目录 ---

先忽略所有的 build 文件夹

**/build/

--- 显式保留 Entropy 的 Jar 包 ---

必须逐级“反忽略”父目录，Git 才能看到里面的文件

!Tools/Entropy/build/
Tools/Entropy/build/*
!Tools/Entropy/build/libs/
Tools/Entropy/build/libs/*
!Tools/Entropy/build/libs/*.jar